@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}